* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
/* ---------------------------------------navbar--------------------------------------------- */
.navbar {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 82px;
  width: 1300px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 1000;
}
.logo img {
  width: 173px;
  height: 50px;
}

.nav-list ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease;
}

.nav-list li:hover > a {
  color: #ff5500;
}

.nav-list li:hover > a {
  border-bottom: 3px solid #ff5500;
  padding-bottom: 4px;
}

.button-container {
  display: flex;
  align-items: center;
  padding: 28px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px 10px;
  height: 48px;
  width: 290px;
}
.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 240px;
}
.search-box span {
  color: rgba(255, 85, 0, 1);
  font-size: 18px;
  padding: 0px 8px;
  font-weight: 400;
}
/* --------------------------------------------------- */
.btn-login,
.btn-register {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn-login {
  border: 1.3px solid black;
  background: white;
  padding: 6px 15px;
  border-radius: 6px;
  font-weight: bold;
  margin-left: 17px;
  cursor: pointer;
  height: 38px;
}
.btn-login::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  width: 0;
  height: 0;
  background: black;
  border-radius: 50%;
  transition: width 0.5s ease, height 0.5s ease;
  z-index: -1;
}

.btn-login:hover {
  color: white;
}

.btn-login:hover::before {
  width: 200%;
  height: 200%;
}

.btn-register {
  background: rgba(255, 85, 0, 1);
  border: 1px solid rgba(255, 85, 0, 1);
  color: white;
  padding: 6px 15px;
  border-radius: 6px;
  margin-left: 15px;
  cursor: pointer;
  height: 38px;
  width: 100px;
  gap: 2px;
}
.btn-register::before {
  content: "";
  position: absolute;
  top: -40%;
  right: -50%;
  width: 0;
  height: 0;
  background: white;
  border-radius: 50%;
  transition: width 0.5s ease, height 0.5s ease;
  z-index: -1;
}
.btn-register:hover {
  color: rgba(255, 85, 0, 1);
}
.btn-register:hover::before {
  width: 200%;
  height: 200%;
}
/* ------------------------------------------------------------------- */
.explore-dropdown {
  position: absolute;
  top: 100%;
  background-color: white;
  display: flex;
  left: 10%;
  gap: 40px;
  padding: 10px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 75%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.nav-list li:hover .explore-dropdown {
  opacity: 1;
  visibility: visible;
}

.explore-column {
  flex: 1;
  padding: 0 10px;
  border-right: 2px solid #eee;
}

.explore-column:last-child {
  border-right: none;
}

.explore-column h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 13px 0px;
  color: black;
}

.explore-item {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  cursor: default;
  padding: 8px;
}

.explore-item:hover {
  color: #ff5500;
  font-size: 16px;
  transition: all 0.6s ease;
  background-color: rgba(255, 239, 231, 1);
}
.Training-dropdown {
  position: absolute;
  top: 90%;
  left: 30;
  background-color: white;
  display: flex;
  gap: 60px;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 20%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.nav-list li:hover .Training-dropdown {
  opacity: 1;
  visibility: visible;
}

.Training-item {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
  cursor: default;
}

.Training-item:hover {
  color: #ff5500;
  font-size: 17px;
  transition: all 0.5s ease;
  background-color: rgba(255, 239, 231, 1);
}

/* ---------------------------------------------section-1------------------------------------------- */
.slider_container .container {
  margin: 0 auto;
}
.slider_container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_container .swiper-pagination {
  display: none;
}
.slider_container .swiper-slide {
  transition: filter 2s ease-in-out;
}

.slider_container .swiper-slide.swiper-slide-active {
  filter: blur(0px);
}

.slider_container .swiper-slide:not(.swiper-slide-active) {
  filter: blur(8px);
}

/* ---------------------------------------------section-2------------------------------- */
.logo_container {
  margin-top: 120px;
}

.logo_container h2 {
  text-align: center;
  font-size: 26px;
  padding-bottom: 40px;
}
.logo_container span {
  color: rgba(255, 85, 0, 1);
}

.logo_slider {
  width: 85%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.logo_track {
  display: flex;
  animation: scroll 10s linear infinite;
}

.logo_track img {
  flex: 0 0 calc(100% / 7);
  height: 65px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* --------------------------------------------section-3--------------------------------------------------- */

.container_3 {
  padding: 110px 10px 60px 10px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px 15px 0px 15px;
}

.container_3 h2 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
}
.container_3 span {
  color: rgba(255, 85, 0, 1);
}

.banners_mains {
  display: flex;
  gap: 60px;
  cursor: pointer;
  padding-bottom: 5px;
}

.banners_items {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px 15px;
  position: relative;
  transition: all 0.3s ease;
}
.banners_items .active {
  font-weight: 600px;
}

.banners_items:hover,
.banners_items.active {
  color: #222;
}
.scroller {
  content: "";
  position: absolute;
  bottom: -400px;
  left: 52%;
  transform: translateX(-50%);
  width: 89%;
  height: 3px;
  border-radius: 2px;
  transition: background-color 0.3s;
  background-color: #b6b4b4;
}
.scroll_line {
  content: "";
  position: absolute;
  bottom: 0;
  left: 70px;
  transform: translateX(-50%);
  width: 11%;
  height: 3px;
  border-radius: 2px;
  transition: background-color 0.3s;
  background-color: #ff5500;
  z-index: 10;
}

.container_3 .swiper {
  width: 90%;
  height: 70%;
}

.cards_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.cards_main .swiper-slide {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 360px;
  height: 440px;
  margin-bottom: 20px;
}

.card_img img {
  width: 352px;
  height: 174%;
  object-fit: cover;
}

.cards {
  padding: 15px;
  flex: 1;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #555;
}

.icons i {
  color: gold;
}

.icons span {
  margin-left: auto;
  color: #ff5500;
  font-weight: bold;
  font-size: 15px;
}

.cards h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 10px;
  color: #222;
}

.cards p {
  font-size: 14px;
  color: #0b0a0a;
  margin-bottom: 30px;
  font-weight: 600;
}

.cards p span {
  font-weight: 500;
  color: #555;
}

.time {
  display: flex;
  gap: 15px;
  font-size: 12px;
  color: #666;
  margin-bottom: 30px;
  border: 1px solid rgba(243, 243, 243, 1);
  padding: 10px;
}

.time div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  flex: 1;
  padding: 10px;
  height: 45px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  z-index: 0;
}
.buttons button:first-child::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  width: 0;
  height: 0;
  background: black;
  border-radius: 50%;
  transition: width 0.5s ease, height 0.5s ease;
  z-index: -1;
}
.buttons button:last-child::before {
  content: "";
  position: absolute;
  top: -40%;
  right: -50%;
  width: 0;
  height: 0;
  background: white;
  border-radius: 50%;
  transition: width 0.5s ease, height 0.5s ease;
  z-index: -1;
}
.buttons button:first-child:hover {
  color: white;
}

.buttons button:last-child:hover {
  color: rgba(255, 85, 0, 1);
}

.buttons button:hover::before {
  width: 250%;
  height: 250%;
}

.buttons button:first-child {
  background-color: white;
  border: 1px solid rgba(88, 88, 88, 1);
  color: rgba(88, 88, 88, 1);
  font-weight: 600px;
}

.buttons button:last-child {
  background-color: rgba(255, 85, 0, 1);
  border: 1px solid rgba(255, 85, 0, 1);
  color: white;
  font-weight: 600px;
}

.graduation_card {
  background: url("images/card_img6.svg") no-repeat center top / cover;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 360px;
  height: 440px;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  position: relative;
}

.graduation_card h2 {
  font-size: 28px;
  text-align: left;
  font-weight: 600;
  color: #333;
  padding: 20px 0px 20px 10px;
}

.graduation_card h2 span {
  color: #ff5500;
}

.graduate_btn button {
  padding: 9px 32px;
  margin-left: 10px;
  border: 1px solid #ff5500;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
  color: #ff5500;
  transition: 0.3s ease;
}

.graduate_btn button:hover {
  background-color: #e04d00;
  color: white;
}

.illustration {
  position: absolute;
  top: 47%;
  height: 100px;
  width: 250px;
  left: 65%;
  transform: translateX(-50%);
}

.illustration img {
  width: 100%;
  max-width: 280px;
}
.carousel-indicator-main {
  margin-bottom: 25px;
}
.carousel-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-btn {
  font-size: 20px;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.carousel-indicator .nav-btn.next {
  border: 1.4px solid #ff5500;
  color: #ff5500;
  background: white;
}
.carousel-indicator .nav-btn.prev {
  border: 1.4px solid rgb(152, 149, 149);
  color: rgb(152, 149, 149);
  background: white;
}

.progress-bar {
  width: 170px;
  height: 12px;
  background-color: #eee;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.progress {
  width: 20%;
  height: 100%;
  background-color: #ff5500;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* --------------------------------------section-4--------------------------------- */
.container_4 {
  padding: 10px 10px;
}
.list_heading h3 {
  text-align: center;
  font-size: 32px;
}

.list_heading span {
  color: rgba(255, 85, 0, 1);
}
.list_container {
  margin: 10px;
}
.job_card {
  background-color: #fff;
  border-radius: 15px;
  padding: 52px 30px 70px 30px;
  margin: 20px auto;
  height: 180px;
  max-width: 1098px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
.job_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(242, 112, 47, 0.281);
}

.job_time {
  position: absolute;
  top: 20px;
  left: 35px;
  background-color: #ffe3d5;
  color: #ff5500;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 8px;
}

.job_header {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.job_header img {
  width: 45px;
  height: 45px;
}

.job_header h3 {
  margin: 0;
  font-size: 22px;
  line-height: 40px;
}

.job_header p {
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}

.bookmark img {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #666;
  cursor: pointer;
  height: 24px;
  width: 22px;
}

.job_tags {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 30px;
  bottom: 18px;
  gap: 10px;
  font-size: 14px;
  color: #555;
  font-weight: 550;
}

.job_tags span {
  display: flex;
  align-items: center;
  gap: 6px;
}
.job_tags img {
  height: 20px;
  width: 20px;
}

.job_btn {
  background-color: #ff5500;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  float: right;
  transition: background-color 0.3s ease;
}

.job_btn:hover {
  background-color: #e04d00;
}

.desc {
  position: absolute;
  color: rgba(255, 85, 0, 1);
  text-decoration: underline;
  text-align: right;
  font-weight: 600;
  right: 89px;
  line-height: 40px;
  font-size: 17px;
  padding-top: 5px;
  cursor: pointer;
}
/* ---------------------------------section-5-------------------------------------- */

.container_5 {
  padding: 50px 10px;
}

.events_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.event_card {
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 532px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.event_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(242, 112, 47, 0.281);
}

.event_image img {
  width: 270px;
  height: auto;
  object-fit: contain;
  padding: 10px;
}

.event_details {
  flex: 1;
  padding: 10px;
  width: 100%;
}

.event_details h4 {
  font-size: 14px;
  font-weight: 600;
  color: #222;
  margin-bottom: 12px;
}
.event_details p {
  margin: 4px 0;
  font-size: 10px;
  color: #555;
  line-height: 18px;
}
.event_details .p1 {
  margin: 4px 0;
  font-size: 10px;
  color: #555;
  line-height: 22px;
  font-weight: 600;
}

.event_details .price {
  font-weight: bold;
  color: #222;
  margin-top: 10px;
}

.event_details button {
  margin-top: 10px;
  background-color: #ff5500;
  color: #fff;
  border: none;
  padding: 5px 12px;
  font-size: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event_details button:hover {
  background-color: #e04d00;
}
/* ----------------------------------section-6--------------------------------- */
.container_6 {
  padding: 50px 10px;
}

.container_6 .list_heading h3 {
  text-align: center;
  font-size: 32px;
}

.container_6 .list_heading span {
  color: rgba(255, 85, 0, 1);
}

.latest_main {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.latest_card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  transition: transform 0.3s ease;
}

.latest_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(242, 112, 47, 0.281);
}

.latest_card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.latest_content {
  padding: 19px;
}

.latest_content h4 {
  font-size: 19px;
  color: #222;
  line-height: 22px;
  margin-bottom: 10px;
}

.latest_content p {
  font-size: 12px;
  color: #555;
  line-height: 20px;
  margin-bottom: 12px;
}

.latest_content h6 {
  font-size: 12px;
  color: rgba(64, 64, 64, 1);
  font-weight: 500;
  padding-top: 5px;
}
/* ---------------------------------------------section-7--------------------------------------- */
.success_heading h3 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 60px;
}
.success_heading span {
  color: rgba(255, 85, 0, 1);
}

.success_container {
  margin: 60px 0px;
}

.success_container .swiper {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.success_container .swiper-slide {
  opacity: 0.5;
  scale: 0.85;
  transition: all 0.8s ease-in-out;
}
.success_container .swiper-slide .testimonial-card {
  border-radius: 10px;
  padding: 27px 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 10px;
  height: 60vh;
  width: 100%;
  cursor: default;
}

.success_container .swiper-slide-active {
  opacity: 1;
  scale: 1.025;
  max-width: 350px;
  z-index: 2;
  border: 2px solid rgba(255, 85, 0, 1);
  box-shadow: 0 0px 12px rgba(255, 85, 0, 0.4);
  border-radius: 10px;
  cursor: default;
  transform: scale(1);
}

.success_container .swiper-slide-active .testimonial-card {
  margin-top: 0px;
  height: 60vh;
  width: 27vw;
  transition: all 0.4s ease;
  border-radius: 10px;
  padding: 27px 20px;
  border: none;
}

.success_container .swiper-slide-active .quote-icon {
  transform: scalex(1);
}

.stars {
  display: flex;
  color: #ffc107;
  font-size: 15px;
  margin-bottom: 20px;
  text-align: left;
  gap: 10px;
}

.testimonial-title {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 28px;
  text-align: left;
}

.testimonial-text {
  font-size: 2.5vh;
  line-height: 1.6;
  color: #333;
  margin-bottom: 35px;
  text-align: left;
}

.client-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.client-info img {
  filter: blur(3px);
  height: 60px;
  margin-top: 5px;
}
.success_container .swiper-slide-active .client-info img {
  filter: blur(0);
}

.client-name {
  margin-top: 10px;
  font-weight: bold;
}

.client-role {
  font-size: 13px;
  color: gray;
  text-align: left;
}

.success_container .swiper-slide-active .quote-icon {
  position: absolute;
  bottom: 90px;
  right: 20px;
  animation: flipRight 0.9s ease forwards;
}
.success_container .swiper-slide-prev .quote-icon,
.success_container .swiper-slide-next .quote-icon {
  animation: flipLeft 0.9s ease forwards;
}

.success_container .quote-icon {
  position: absolute;
  bottom: 75px;
  right: 50px;
  transform: scaleX(-1);
}
.quote-icon img {
  height: 32.5px;
  width: 35px;
  color: #ff6a00;
}
@keyframes flipRight {
  0% {
    transform: scaleX(-1);
    opacity: 0.6;
  }
  50% {
    transform: scaleX(0);
    opacity: 0.3;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes flipLeft {
  0% {
    transform: scaleX(1);
    opacity: 0.6;
  }
  50% {
    transform: scaleX(0);
    opacity: 0.3;
  }
  100% {
    transform: scaleX(-1);
    opacity: 1;
  }
}
.success_button {
  position: relative;
}

.success_button .swiper-button-next,
.success_button .swiper-button-prev {
  width: 50px;
  height: 50px;
  border: 1px solid #ff6a00;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #ff6a00;
}
.success_button .swiper-button-next:after,
.success_button .swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
}
.success_button .swiper-button-next {
  position: absolute;
  top: -193px;
  right: -20px;
}
.success_button .swiper-button-prev {
  position: absolute;
  top: -200px;
  left: -36px;
}
.success_button .swiper-pagination {
  text-align: center;
  position: relative;
  z-index: 20;
  height: 50px;
  width: 50px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  margin: 0 6px !important;
  vertical-align: middle;
  transition: background 0.3s ease, transform 0.3s ease;
}
.swiper-pagination-bullet-active {
  background: #ff6a00 !important;
  transform: scale(2);
}

/* -------------------------------------section-8----------------------------------- */

.section-8 {
  margin: 80px auto;
  padding: 20px;
}
.section-8 .list_heading h3 {
  font-size: 35px;
}
.section-8 .list_heading p {
  text-align: center;
  line-height: 60px;
  font-size: 15px;
}
.faq-container {
  max-width: 1080px;
  height: 200px;
  margin: auto;
}

.faq-item {
  border-bottom: 1px solid #f5dcd2;
  padding: 25px 0;
  position: relative;
}

.faq-number {
  font-weight: bold;
  font-size: 20px;
  color: #ff6600;
  margin-right: 10px;
}

.faq-question {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  line-height: 50px;
}

.faq-answer {
  display: none;
  padding: 15px;
  margin-top: 10px;
  background-color: #ffeee7;
  border-radius: 10px;
  color: #555;
  font-size: 15px;
  line-height: 1.5;
  height: 120px;
}

.faq-item.active .faq-answer {
  display: block;
}

.icon {
  width: 24px;
  height: 24px;
  border: 2px solid #ff6600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff6600;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.faq-item.active .icon {
  background-color: #ff6600;
  color: #fff;
}
.icon:hover {
  font-size: 21px;
  box-shadow: 0 0 10px rgba(242, 112, 47, 0.281);
}
